@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="card-body">
        <div class="row">
            <div class="col">
                Click <a asp-controller="PurchaseDetailItems" class="d-inline">HERE</a> to go to the Purchase Details page for questions #9 & 10.
            </div>
        </div>
    </div>
</div>
